/* Style your widget here */

.vis-owl-parcel-headline{
    background-color: #3c3d3d; 
    z-index: 10;
    height: 28px;
    width: 300px;
    top: 8px;
    text-align: left;
}

.vis-owl-parcel-headline-text{
    color: #ffffff;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 20px;
}

.vis-owl-parcel-widget{
    background-color: #222222; 
    z-index: 10;
    padding-left: 10px;
}

.vis-owl-parcel-container{
    background-color: #222222; 
    z-index: 10;
    overflow: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    top: 42px;
}

.vis-owl-parcel{
    background-color: #adadad; 
    z-index: 13;
    width: 95%;
    align-self: center;
    height: 55px;
}

.vis-owl-parcel-source{
    z-index: 14;
    max-width: 80px;
    max-height: 40px;
    top: 5px;
    left: 5px;
}

.vis-owl-parcel-id{
    color:#292929;
    z-index: 14;
    width: 200px;
    height: 20px;
    top: 5px;
    left: 110px;
}

.vis-owl-parcel-name{
    color:#292929;
    z-index: 14;
    width: 460px;
    height: 20px;
    top: 5px;
    left: 315px;
}

.vis-owl-parcel-status{
    color:#292929;
    z-index: 14;
    width: 660px;
    height: 20px;
    top: 30px;
    left: 110px;
}

.vis-owl-parcel-id-inDelivery{
    color:#195721;
    z-index: 14;
    width: 200px;
    height: 20px;
    top: 5px;
    left: 110px;
}

.vis-owl-parcel-name-inDelivery{
    color:#195721;
    z-index: 14;
    width: 460px;
    height: 20px;
    top: 5px;
    left: 315px;
}

.vis-owl-parcel-status-inDelivery{
    color:#195721;
    z-index: 14;
    width: 660px;
    height: 20px;
    top: 30px;
    left: 110px;
}

.vis-owl-parcel-sepline{
    z-index: 14;
    width: 740px;
    width: 95%;
    align-self: center;
}
