/* Style your widget here */

/* Header */
.vis-owl-parcel-comp-container {
    background-color: #aaaaaa; 
    border: 1px solid rgb(136, 136, 136); 
    box-shadow: 0 3px 5px 0px rgba(114, 114, 114, 0.7);
    color:#ffffff;
}

