/* Style your widget here */
.vis-owl-class {
    font-style: italic;
}

/* Header */
.vis-owl-flexcontrol-comp-header {
    background-color: #222222; 
    border: 1px solid rgb(136, 136, 136); 
    box-shadow: 0 3px 5px 0px rgba(114, 114, 114, 0.7);
    color:#ffffff;
}

/* Header Text */
.vis-owl-flexcontrol-comp-header-text {
    color:#ffffff;
    font-size: small;
    height: 14px;
    text-align: left;
}

/* Header Ist-Wert */
.vis-owl-flexcontrol-comp-header-ist {
    color:#ffffff;
    font-size: small;
    height: 14px;
    text-align: right;
}

/* Hauptbereich */
.vis-owl-flexcontrol-comp-main {
    background-color: #333333; 
    border-color: rgb(136, 136, 136);
    border-style: solid; 
    border-width: 1px 1px 0px 1px; 
    color:#ffffff;
}
 
/* Hauptbereich Soll-Wert */
.vis-owl-flexcontrol-comp-main-soll {
    color:#ffffff;
    font-size: medium;
    height: 16px;
    text-align: right;
}

/* Hauptbereich Buttons Plus / Minus */
.vis-owl-flexcontrol-comp-btnStep {
    background: #222222;
    border-style: solid;
    border-width: 1px;
    border-color: #626d6f;
    border-radius: 0px;
    color: #ffffff;
    font-size: medium;
    line-height: 20px;
    text-align: center;
}

/* Infopanel */
.vis-owl-flexcontrol-comp-info {
    background-color: #505050; 
    border-color: rgb(136, 136, 136);
    border-style: solid; 
    border-width: 0px 1px 1px 1px; 
}

/* Infopanel Wert*/
.vis-owl-flexcontrol-comp-info-value {
    color: bisque;
    font-size: 12px;
    text-align: left;
}

/* Popup */
.vis-owl-flexcontrol-comp-popup-hintergrund {
    background-color: rgba(44, 44, 44, 0.8); 
    border-color: rgb(197, 255, 223);
    border-style: solid; 
    border-width: 1px 1px 1px 1px; 
    color:#ffffff;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
  }

/* Popup Betriebsmodus */
.vis-owl-flexcontrol-comp-popup-desc {
    color: rgb(186, 231, 112);
    font-size: 12px;
    text-align: center;
}



/* Add Animation */
@-webkit-keyframes animatetop {
    from {opacity:0} 
    to {opacity:1}
  }
  
@keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
  }
/*
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
*/